@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<OdeToFood.Data.Restaurant>

<div class="jumbotron">
    <h1>OdeToFood</h1>
    <h3>There are @Model.Count() Restaurants in total</h3>
</div>

<ul>
    <h2>Names of Restaurants</h2>
    @foreach (var restaurant in Model) { 
        <li>@restaurant.Name</li>   
    }
</ul>
